<h1>Add A Workout</h1>
<%= form_with(model: @workout, local: true) do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, required: true, placeholder: "Name" %>
  </div>
  <div class="field">
    <%= f.label :"Time In Seconds" %>
    <%= f.number_field :time %>
  </div>
  <%= f.submit %>
<% end %>